---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<strong>Teaching Evaluations:</strong>
<ul>
  <li>
    Independent Instructor:
    <ul>
      <li>Intermediate Microeconomics</li>
      <ul>
        <li>
          <a href="https://github.com/Tyson-Ramirez/tyson-ramirez.github.io/blob/cdb4bec8c3b4fd659f404aebca0ee4ab0cfb5a91/files/Ramirez-SU25-ECON300A.pdf">
          Summer 2025 </a>
        </li>
        </ul>
    </ul>
  </li>
  <li>
    Teaching Assistant:
    <ul>
      <li>Principles of Microeconomics</li>
    </ul>
  </li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
